.kube/

bootstrap/.terraform
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.backup
bootstrap/crash.log
bootstrap/.terraform.lock.hcl
bootstrap/.terraform.tfstate.lock.info

envs/*/.terraform/
envs/*/terraform.tfstate
envs/*/terraform.tfstate.backup
envs/*/crash.log
envs/*/.terraform.lock.hcl
envs/*/.terraform.tfstate.lock.info

envs/*/terraform.tfvars
modules/*/terraform.tfvars